@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center my-5">Tomive Hotel Management System</h1>

<div class="card mb-4">
    <div class="card-header">
        <i class="bi bi-info-circle"></i> Info
    </div>
    <div class="card-body">
        <p class="card-text">This dashboard has information on number of guests, active bookings, unpaid invoices, today's check-ins and check-outs in the system.</p>
    </div>
</div>

<div class="container my-3">
    <div class="row">
        <div class="col-md-4 col-sm-6 card border-primary mb-3">
            <div class="card-header">Total Guests in System</div>
            <div class="card-body">
                <p class="card-text fs-4">Total Guests: @Model.TotalGuests</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 card border-success mb-3">
            <div class="card-header">Active Bookings</div>
            <div class="card-body">
                <p class="card-text fs-4">Total Bookings: @Model.TotalBookings</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 card border-danger mb-3">
            <div class="card-header">Unpaid Invoices</div>
            <div class="card-body">
                <p class="card-text fs-4">Unpaid Invoices: @Model.TotalUnpaidInvoices</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 card border-info mb-3">
            <div class="card-header">Today's Check-Ins</div>
            <div class="card-body">
                <p class="card-text fs-4">Arriving Today: @Model.TotalCheckIn</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 card border-warning mb-3">
            <div class="card-header">Today's Check-Outs</div>
            <div class="card-body">
                <p class="card-text fs-4">Leaving Today: @Model.TotalCheckOut</p>
            </div>
        </div>

    </div>
</div>
